.footer-container {
    font-weight: bolder;
}

.footer-container h2 {
    font-weight: bolder;
}

.footer-container p {
    font-weight: bolder;
}

.footer-container a {
    font-weight: bolder;
}

.footer-container i {
    font-weight: bolder;
}